* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('http://s3.amazonaws.com/digitaltrends-uploads-prod/2015/12/man-driving-in-car-in-the-city-ride-share-uber-lyft-getaround-zipcar.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container .left_Side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h3 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    line-height: 1.4em;
    margin-top: 15px;
}


.contactInfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.contactInfo.education h4 {
    color: #fff;
    font-weight: 300;
}

.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    background: #03a9f4;
}

.login {
    position: relative;
    background: #fff;
    padding: 40px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}

.login-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: #003147 1px solid;
}

.login button {
    position: relative;
    display: inline-block;
    font-weight: 500;
    margin: 7px 0 0 0;
    padding: 2px 10px;
    background: #fff;
    border-radius: 10px;
    color: #f8f7f7;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    border: #003147 1px solid;
    background-color: #003147;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.login h2 {
    font-size: 24px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.login .login-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: #003147 1px solid;
}

.login a {
    text-decoration: none;
    color: #03a9f4;
    justify-content: center;
    display: flex;
}

.login .formBx {
    position: relative;
    margin-top: 20px;
}

.login .formBx .form {
    position: relative;
    width: 100%;
}

.login .formBx .form h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.login .formBx .form input {
    position: relative;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
}

.login .formBx .form input[type="submit"] {
    background: #519fc3;
    color: #f0f6f6;
    max-width: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.register {
    position: relative;
    background: #fff;
    padding: 40px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.register button {
    position: relative;
    display: inline-block;
    font-weight: 500;
    margin: 7px;
    padding: 2px 5px;
    background: #fff;
    border-radius: 10px;
    color: #f8f7f7;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    border: #3097c7 1px solid;
    background-color: #003147;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.register h2 {
    font-size: 24px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.register form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: #003147 1px solid;
}

.register a {
    color: #03a9f4;
    justify-content: center;
    display: flex;
}

.register .formBx {
    position: relative;
    margin-top: 20px;

}



.register .formBx .form {
    position: relative;
    margin-top: 20px;
    width: 100%;

}

.register .formBx .form h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.register .formBx .form input {
    position: relative;
    width: 100%;
    padding: 0%;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
}

.register.formBx .form input[type="submit"] {
    background: #519fc3;
    color: #f0f6f6;
    width: 100%;
    max-width: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.welcome {
    position: relative;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    animation: alternate 10s ease infinite;
}



.welcome p {
    font-size: 12px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.drive-icon img {
    margin: 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
}

.welcome-heding {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.ddd {
    margin: 0 0 0px 0;
    border-radius: 7px;
    padding: 2px;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    color: #000000;
    text-align: center;
    font-weight: 700;
}

.facebook {

    position: relative;
    display: inline-block;
    margin: 2px;
    padding: 2px 10px;
    background: #fff;
    border-radius: 10px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    border: #003147 1px solid;
    background-color: #2ea1d6;
    box-shadow: inset 5px 5px 5px rgba(46, 124, 232, 0.635),
        inset -5px -5px 15px rgba(33, 117, 185, 0.377),
        5px 5px 15px rgba(26, 155, 236, 0.352), -5px -5px 15px rgba(44, 133, 235, 0.676);
    cursor: pointer;
}

.facebook i {
    margin: 0 5px 0 0;
    padding: 0px;
    font-size: 16px;
    color: #ffffff;


}

.w-icon:hover {
    color: #1358e1e9;
}



.welcome p {
    margin: 5px;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.welcome a {
    text-decoration: none;
    color: #03a9f4;
    justify-content: center;
    display: flex;
    font-size: 16px;
}

.welcome a:hover {
    text-decoration: underline;
}